#!/usr/bin/make -f

VERSION := $(if $(wildcard .git),$(shell git describe --always),$(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p'))

%:
	dh $@

override_dh_auto_build:
	VERSION="$(VERSION)" scons

override_dh_auto_clean:
	VERSION="$(VERSION)" scons -c
	rm -f config.log

override_dh_auto_install:
	VERSION="$(VERSION)" DESTDIR=debian/tmp scons install
